---
layout: default
title: Sam Poder
---
<div style="width: 100%;margin: auto;background-color: #C0DFA1;">
    <div class="container" style="width: 100% !important;padding-top: 4em;padding-bottom: 4em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col-md-6 col-xl-5">
                    
                    <h1 style="margin-bottom: 15px;">Sam Poder</h1>
                    <p>📢 &nbsp;Promoting STEM &amp; Computer Science!</p>
                    <p>📍 &nbsp;Singapore <a href="https://find.sampoder.com">(Not specific enough?)</a></p>
                    <p>📨 &nbsp;hi@sampoder.com</p>
                    <hr style="margin-bottom: 3px;"><div>

                    <a href = "https://github.com/sampoder"><i class="typcn typcn-social-github-circular" style="font-size: 30px;margin-top: 3px;margin-left: -5px; color: #212529"></i></a>

                    <a href = "https://www.linkedin.com/in/sam-poder/"><i class="typcn typcn-social-linkedin-circular" style="font-size: 30px;margin-top: 3px;margin-left: 1px; color: #212529"></i></a>

                    <a href = "https://instagram.com/sam_poder/"><i class="typcn typcn-social-instagram-circular" style="font-size: 30px;margin-top: 3px;margin-left: 1px; color: #212529"></i></a>

                    <a href = "https://twitter.com/sam_poder/"><i class="typcn typcn-social-twitter-circular" style="font-size: 30px;margin-top: 3px;margin-left: 1px;font-style: normal;font-weight: normal; color: #212529"></i></a>

                </div></div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-xl-2 profile-pic"><img class="rounded-circle" style="width: 100%;margin-bottom: 55px;max-width: 160px;" src="assets/img/IMG_20190803_144523891_BURST000_COVER.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #ffd5f8;">
    <div class="container" style="width: 100% !important;padding-top: 4em;padding-bottom: 2em;background-color: #ffd5f8;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 25px;">👨‍💻 &nbsp;About Me</h2>
                    <p>Hi there! My name's Sam Poder and I'm currently Grade 9 Student at GEMS World Academy Singapore studying the MYP curriculum. I'm originally from Australia but I've lived in Singapore since I was 7!</p>
                    <p>An issue I’m passionate about is promoting STEM to the youth. In our modern society, STEM is of growing importance. Many of the highest-paying jobs are STEM-related; furthermore, the demand for these same jobs is growing rapidly.
                        I want to provide as many students as possible STEM opportunities that teach them real-world skills. To fulfil my goal, I founded the Singapore STEM Club which is a student led non profit
                        organisation that promotes STEM to the youth of Singapore through events (fully launching in a post-COVID19 world). At school, I lead a Hack Club and ran an Innovation Week to introduce students to the wonderful world of technology.</p>
                    <p>I also enjoy creating change in the environment around me. At school, I serve as Vice President of the Student Council. In this role I represent the entire student body and work with the school administration on creating a better
                        school environment for students. We also run amazing events! Finally, I have been elected as the President of the Student Council for the 2020 to 2021 academic year.</p>
                    <p>That's just the start! I've done a mix of wonderful things throughout my 15 years alive, there's more below.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #D9FFF8;">
    <div class="container" style="width: 100% !important;padding-bottom: 4em;padding-top: 2em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 25px;">🏫 &nbsp;Academics</h2>
                    <p>I am currently taking the IB's Middle Years Program at school. I am in the fourth year of doing the program. This means I receive an all rounded education which includes studying Science, Maths, History, Chinese and English as
                        well as other subjects. I’m really enjoying getting to learn such a variety of things!<br></p>
                    <p>In 2021, I will be taking the IGCSE exams to supplement my learning in the MYP Program. I will be taking all five IGCSEs that my school offers.<br></p>
                    <p>I perform well academically, last year I received the runner up award for the highest overall grades in my year group. My strongest subjects are Maths &amp; Science where I am consistently getting top marks.&nbsp;<br></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #FAF8D4;">
    <div class="container" style="width: 100% !important;padding-bottom: 4em;padding-top: 4em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 10px;">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 15px;">💻 &nbsp;Experience<br></h2>
                    <p>Here are some of the things I've worked on recently!<br></p>
                    <header></header>
                </div>
                <div class="clearfix"></div>
            </div>            
            {% assign experience = site.experience | sort: 'rank' | reverse %}
            {% for item in experience %}
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-start" style="margin-bottom: 20px;">
                <div class="col-md-6 col-xl-7">
                    <p style="margin-bottom: 0px;"><strong>{{ item.title }}</strong><br></p>
                    <p style="margin-bottom: 0px;">{{ item.subtitle }}<br></p>
                    <hr>
                    <p>{{ item.content | markdownify }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #ffdde4;">
    <div class="container" style="width: 100% !important;padding-bottom: 4em;padding-top: 4em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 10px;">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 15px;">🗣 &nbsp;Extracurriculars<br></h2>
                    <p>I'm always participating in things around the school!<br></p>
                </div>
                <div class="clearfix"></div>
            </div>
            {% assign extracurriculars = site.extracurriculars | sort: 'rank' | reverse %}
            {% for item in extracurriculars %}
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-start" style="margin-bottom: 20px;">
                <div class="col-md-6 col-xl-7">
                    <p style="margin-bottom: 0px;"><strong>{{ item.title }}</strong><br></p>
                    <p style="margin-bottom: 0px;">{{ item.subtitle }}<br></p>
                    <hr>
                    <p>{{ item.content | markdownify }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #ecffc5;">
    <div class="container" style="width: 100% !important;padding-bottom: 4em;padding-top: 4em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 25px;">🏆 &nbsp;Awards &amp;&nbsp;Certificates<br></h2>
                </div>
                <div class="clearfix"></div>
            </div>
            {% assign awards = site.awards | sort: 'rank' | reverse %}
            {% for item in awards %}
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-start" style="margin-bottom: 20px;">
                <div class="col-md-6 col-xl-7">
                    <p style="margin-bottom: 0px;"><strong>{{ item.title }}</strong><br></p>
                    <p style="margin-bottom: 0px;">{{ item.subtitle }}<br></p>
                    <hr>
                    <p>{{ item.content | markdownify }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #ffdeb8;">
    <div class="container" style="width: 100% !important;padding-bottom: 4em;padding-top: 4em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 10px;">
                <div class="col-md-6 col-xl-7">
                    <h2 style="margin-bottom: 15px;">📰 &nbsp;Media Features<br></h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-start" style="margin-bottom: 20px;">
                <div class="col-md-6 col-xl-7">
                    <ul style="margin-left: -20px;">
                        {% assign news = site.news | sort: 'rank' | reverse %}
                        {% for item in news %}
                        <li style="margin-bottom: 10px;"><a href="{{ item.url }}"><strong>{{ item.title }}</strong></a><br></li>
                        {% endfor%}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;margin: auto;background-color: #beccff;">
    <div class="container" style="width: 100% !important;padding-bottom: 1em;padding-top: 1em;">
        <div style="width: 100%;">
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col-md-6 col-xl-6" style="margin-top: 7px;">
                    <h6 class="text-center" style="margin-bottom: 0px;font-size: 16px;">👨‍💻 &nbsp;Sam Poder<br></h6>
                    <hr style="margin-bottom: 3px;">
                    <h6 class="text-center" style="margin-bottom: 0px;font-size: 14px;padding-top: 15px;padding-bottom: 15px;">Email me with sam-poder@onepwaa.org!<br></h6>
                    <h6 class="text-center" style="margin-bottom: 0px;font-size: 14px;padding-top: 15px;padding-bottom: 15px;"><a href="javascript:var settingtransitionduration = document.body.style.transition = &quot;transform 3s&quot;; var settingtransformproperty = document.body.style.transform = &quot;rotate(360deg)&quot;; var settingtimeout = setTimeout(function() {var resettingtransitionduration = document.body.style.transition = &quot;initial&quot;; var resettingtransitionproperty = document.body.style.transform = &quot;initial&quot;;}, 3000);" class="gogo-item">Spin This Page!</a></h6>
                </div>
                <div id="webring-wrapper">
                  <a href="https://googol88.github.io/webring/" id="previousBtn" class="webring-anchor" title="Previous">‹</a>
                  <a href="https://googol88.github.io/webring/" class="webring-logo" title="Hack Club Webring" alt="Hack Club Webring"></a>
                  <a href="https://googol88.github.io/webring/" id="nextBtn" class="webring-anchor" title="Next">›</a>
                  <script src="https://googol88.github.io/webring/public/embed.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>

    document.onkeydown = function(e){
        e = e || window.event;
        var key = e.which || e.keyCode;
        if(key===83){
            window.location.href = "javascript:var settingtransitionduration = document.body.style.transition = &quot;transform 3s&quot;; var settingtransformproperty = document.body.style.transform = &quot;rotate(360deg)&quot;; var settingtimeout = setTimeout(function() {var resettingtransitionduration = document.body.style.transition = &quot;initial&quot;; var resettingtransitionproperty = document.body.style.transform = &quot;initial&quot;;}, 3000);";
        }
    }

</script>
