<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sam Poder</title>
    <meta name="twitter:image" content="/assets/img/IMG_20190803_144523891_BURST000_COVER.jpg">
    <meta name="twitter:description" content="I'm a high school student promoting STEM and Computer Science in Singapore and beyond!">
    <meta property="og:image" content="https://www.sampoder.com/assets/img/IMG_20190803_144523891_BURST000_COVER.jpg">
    <meta property="og:image:secure_url" content="https://www.sampoder.com/assets/img/IMG_20190803_144523891_BURST000_COVER.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1466" />
    <meta property="og:image:height" content="1466" />
    <meta property="og:image:alt" content="Sam Poder's Wonderful Face" />
    <meta name="description" content="I'm a high school student promoting STEM and Computer Science in Singapore and beyond!">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Sam Poder">
    <link rel="icon" type="image/png" sizes="120x120" href="/assets/img/male-technologist_1f468-200d-1f4bb.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/assets/img/male-technologist_1f468-200d-1f4bb.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/assets/img/male-technologist_1f468-200d-1f4bb.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/assets/img/male-technologist_1f468-200d-1f4bb.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <script src="https://summer.hackclub.com/scrapbookwidget.js"></script>
    <script>   
      displayScrapbookUsername('sampoder')  
    </script>
  </head>
  <body>
    {{ content }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
